.editor-content {
  white-space: break-spaces;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  overflow-x: auto;

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }

  pre {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.5rem 0.7rem;
    border-radius: 5px;
    background: #282922;
    color: #ffffff;
    font-size: 0.8rem;
    overflow-x: auto;

    code {
      display: block;
    }
  }

  p code {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    padding: 0.15rem 0.3rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    background: #282922;
    color: #ffffff;
  }

  ul,
  ol {
    padding-left: 1.5rem;
  }

  li > p,
  li > ol,
  li > ul {
    margin: 0;
  }

  a {
    color: #428bca !important;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  blockquote {
    border-left: 3px solid;
    opacity: 0.7;
    padding-left: 0.8rem;
    font-style: italic;

    p {
      margin: 0;
    }
  }

  hr {
    margin: 0.7rem 0rem;
  }

  img {
    max-width: 100%;
    height: auto;

    &.ProseMirror-selectednode {
      outline: 2px solid #9095A0;
    }
  }

  iframe {
    border: 4px solid #000;
    border-radius: 4px;
    min-width: 200px;
    min-height: 200px;
    display: block;
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;

    td,
    th {
      min-width: 1em;
      border: 2px solid #ced4da;
      padding: 3px 5px;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
      text-align: left;
      background-color: #ebebeb;
      color: #000;
    }

    p {
      margin: 0;
    }
  }
}
