name: frontend

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  tests:

    runs-on: ubuntu-22.04
    
    steps:
    - uses: actions/checkout@v4

    - name: Cache Yarn packages
      uses: actions/cache@v3
      with:
        path: |
          frontend/quasar/node_modules
          frontend/quasar/.yarn/cache
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: install packages
      run: yarn
    - name: lint
      run: yarn lint
    - name: build
      run: yarn build
